{% extends 'base.html.twig' %}

{% block title %}Hello NavbarController!{% endblock %}


{% block body %}

  <div class="container">
    <div class="row">

      {% for voyage in voyages %}
        <div class="d-flex justify-content-center  col-sm-12 col-md-6 col-lg-4 p-4">
          <div class="card" style="width: 18rem;">
            <img src="{{asset('assets/images/') ~ voyage.imagePath}}" class="imageCard" alt="image destination">
            <div class="card-body">
              <h5 class="card-title text-center">{{voyage.destination}}</h5>
              <p class="card-text">{{voyage.description}}</p>
              <p class="card-text">{{voyage.duration}}</p>
              <a href="#" class="btn btn-info">{{voyage.price}} €</a>
            </div>
          </div>  
        </div>
      {% endfor %}


    
    </div>
  </div>
{% endblock %}
